.menu {
	align-items: center;
	display: flex;
	gap: 20px;
}

.menu_toggle {
	cursor: pointer;
	display: none;
}

.responsive_title {
    font-size: 1.25rem; 
}


@media (max-width: 990px) {
	.menu {
		display: none;
	}

	.menu_toggle {
		display: block;
	}
}

@media (max-width: 600px) {
    .responsive_title {
        font-size: 1rem; 
    }
}