.wrapper {
    display: flex;
    gap: 100px;
    width: 100%;
    justify-content: center;
}

.wrapperInner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media(max-width: 650px) {
    .wrapper {
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
    }
    .wrapperInner {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        span {
            font-size: 1rem !important; 
        }
    }
}